{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Lottery Setup</h2>
  <form method="POST" action="{{ url_for('start_lottery', lottery_type=lottery_type) }}">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      {{ form.post_url.label }} 
      {{ form.post_url(class="form-control", placeholder="https://www.instagram.com/p/...") }}
    </div>

    {% if lottery_type in ['comments', 'score'] %}
    <div class="form-group">
      {{ form.min_comments.label }} 
      {{ form.min_comments(class="form-control", placeholder="Minimum required comments") }}
    </div>
    <div class="form-group">
      {{ form.min_mentions.label }} 
      {{ form.min_mentions(class="form-control", placeholder="Minimum required mentions") }}
    </div>
    {% endif %}
    <br/>
    <button type="submit" class="btn btn-primary btn-block">Run Lottery</button>
  </form>
{% endblock content %}